<ion-header>
  <ion-toolbar>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!--  -->
  <ion-grid>

    <ion-row>
      <ion-item>
        <ion-icon name="arrow-dropright"></ion-icon>
        <ion-input>Sonny Farosa Kurnia</ion-input>
      </ion-item>
    </ion-row>

    <ion-row>
      <ion-item>
        <ion-icon name="arrow-dropright"></ion-icon>
        <ion-input>532645</ion-input>
      </ion-item>
    </ion-row>

    <ion-row>
      <ion-item>
        <ion-icon name="arrow-dropright"></ion-icon>
        <ion-input>JKTMXM</ion-input>
      </ion-item>
    </ion-row>

    <ion-row>
      <ion-item>
        <ion-icon name="arrow-dropright"></ion-icon>
        <ion-input>IT General Application Analyst</ion-input>
      </ion-item>
    </ion-row>

    <ion-row>
        <ion-item>
          <ion-icon name="arrow-dropright"></ion-icon>
          <ion-input>sonny.fk@garuda-indonesia.com</ion-input>
        </ion-item>
      </ion-row>
       
  </ion-grid>
  <!--  -->
</ion-content>
